[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[dev-packages]
pylint = "*"
pytest = "*"
black = "*"
isort = "*"

[packages]
rct229 = {editable = true, path = "."}
jsonpath-ng = "*"
click="*"
jsonschema="*"
pyyaml="*"
jsonpointer="*"
pandas = "*"
xlrd = "~=1.2"
numpy = "*"
pint = "*"
