[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[dev-packages]
black = "22.6.0"
pylint = "*"
pytest = "*"
isort = "5.10.1"
icecream = "*"
pytest-watch = "*"
jsonpath-ng = "*"

[packages]
rct229 = {editable = true, path = "."}
jsonschema="*"
pyyaml="*"
jsonpointer="*"
pandas = "*"
xlrd = "~=1.2"
numpy = "*"
pint = "*"
click = "==8.0.4"
regex = "==2022.1.18"
black = "~=22.6.0"
jsonpath2 = "*"
jsonpath-ng = "*"
pytest-cov = "*"
