# This workflow will check formatting with Black, install Python dependencies,
# and run tests with pytest
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

# Apply this workflow when pushing or creating a pull request to any branch
on: pull_request

jobs:
  black-formatting-check:
    name: Black formatting check
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        # This will halt the action if formatting fails
        # Note: This will also fail if there are syntax errors
      - uses: psf/black@stable
  run-pytests:
    name: Run pytests
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Install pipenv
        # TODO: cache pipenv
        run: pip install pipenv
      - name: Install dependencies
        # TODO: cache the dependencies; probably don't need the second command
        run: |
          pipenv install --dev --skip-lock
          pipenv lock --pre
      - name: Run tests
        # This will halt the action if any of the tests fail
        run: pipenv run pytest -v
